body {
	font-family: indie flower; 
	text-align: center;
	background-color: lightblue;
	color: #00709f;
}

.box {
	width: 200px;
	height: 100px; 
	background-color: hotpink; 
	margin-left: 10px; 
	margin-right: 10px; 
	margin-bottom: 20px; 
	display: inline-block;
	color: white; 
	font-size: 16pt; 
	text-align: center;
	border-radius: 20px;
	padding: 10px;
	font-family: comfortaa;
}

.selected {
	background-color: pink;
}

h1, h2 {
	font-size: 60px;
}

footer {
	font-size: 24px;
}